@import '../../partials';

.wrapper {
  position: relative;
  width: 612px;

  .image {
    width: 612px;
  }

  .subCaption {
    font-size: 0.75em;
    color: #aaaaaa;
  }

  @mixin navButton {
    position: absolute;
    top: 200px;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #999999;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #49c6ff;
    }
  }

  .counter {
    position: absolute;
    right: 0px;
    font-size: 0.75em;
    top: 430px;
  }

  .prevButton {
    @include navButton;
    left: 0px;
  }

  .nextButton {
    @include navButton;
    right: 0px;
  }
}
