@import '../../partials';

.wrapper {
  display: grid;
  width: calc(100vw - 4em);
  min-height: calc(100vh - 4em);
  grid-template-columns: auto 1fr;
  font-size: 1.6em;

  .leftPane {
    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
      margin-top: 0px;
    }

    .mutedText {
      text-shadow: 0px 0px 22px #49c6ff;
    }
  }

  .rightPaneDesktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0.3em 0px;
    }
  }

  .rightPaneMobile {
    display: none;
  }

  .actions {
    flex-direction: column;
    display: flex;
    align-items: flex-start;

    .button {
      @include primary-button;
      background: linear-gradient(#00bcd4, #03a9f4);
      border-radius: 10px;
      padding: 0.3em 0.75em 0.4em;
      border: none;
      font-size: 1.4em;
      margin-bottom: 0.3em;
      margin-top: 1em;
      -webkit-text-stroke: 1px white;
      transition: none;
      box-shadow: 0px 0px 30px #03a9f4;

      &:focus {
        box-shadow: 0px 0px 3px black, 0px 0px 40px #03a9f4;
        border: none;
      }
    }

    a {
      color: #999999;
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    display: block;
    width: initial;
    margin: -2em;

    .rightPaneDesktop {
      display: none;
    }

    .rightPaneMobile {
      display: block;
      font-size: 1.6em;
    }
  }
}
