@import '../../partials';

.setup {
  font-size: 1.6em;
}

.mutedText {
  color: #999999;
}

.input {
  font-size: 1.6em;
  padding: 0.5em;
  width: 100%;
  border-radius: 16px;
  border: 3px solid #aaaaaa;
  outline: none;

  &:focus {
    border: 3px solid #2196f3;
  }
}

@media (prefers-color-scheme: dark) {
  .input {
    color: inherit;
    background: transparent;

    &:focus {
      background: #444444;
    }
  }
}
